<div id="wrapper">
    <!-- Sidebar -->
    <div class="sidebar-nav" id="sidebar-wrapper">
        <h1 style="padding-left:15px;color: #999999;">Pearland City of Commerce</h1>
        <h2 style="padding-left:15px;color: #999999;">ID # 48972</h2>
        <ul class="sidebar-nav" style="padding-top:125%">            
            <li>
                <a href="#/createmotion">Create Motion</a>
            </li>
            <li>
                <a href="#/motionsview">Motions</a>
            </li>
            <li>
                <a href="#/motionhistory">Motion History</a>
            </li>
            <li>
                <a href="#/userhistory">Past/Current Users</a>
            </li>
            <li>
                <a href="#/adminpage">Manage Users</a>
            </li>                       
            <li>
                <a href="#">Inbox</a>
            </li>            
            <li>
                <a href="#">Settings</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid" style="padding-top: 35px;">
                        <div class="row">
                            <div class="col-md-12">
                                <!--<form class="navbar-form navbar-left" role="search">
                                    <div class="form-group">
                                        <input type="text" class="form-control" />
                                    </div>
                                    <button type="submit" class="btn btn-default">
                                        Search
                                    </button>
                                </form>-->
                                <h1 style="font-family:'Times New Roman';margin-bottom:20px" align="center">Manage Users</h1>
                                    <table class="table table-striped table-bordered table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Role
                                                </th>
                                                <!-- <th>Status</th>-->
                                                <th>
                                                Is User Current
                                            </th>
                                            <th>
                                                    Update
                                                </th>
                                            <!--<th>
                                                Roles
                                            </th>-->

                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="user in vm.Users" id="addRoles" ng-submit="vm.update()">

                                            <tr ng-model="vm.user">
                                                <td></td>
                                                <td ng-click="vm.user.Id = user.Id" required="">
                                                    {{user.firstName}} {{user.lastName}}
                                                </td>
                                                <td>

                                                <div >
                                                    <select id="dropdown" name="role" ng-model="vm.RoleSelect[$index]" ng-change="vm.RoleChange($index)">
                                                            <option selected></option>
                                                        <option ng-repeat="role in vm.roles" value="{{role.id}}">
                                                                {{role.name}}
                                                            </option>

                                                        </select>
                                                    </div>
                                                </td>
                                            
                                                <td>
                                                    <form id="dropdown" name="active">
                                                    <input type="radio" name="roletype" value="Active" ng-model="vm.RadioSelect[$index]" ng-change="Active" />Active<br />
                                                    <input type="radio" name="roletype" value="Inactive"  checked="checked">Inactive<br />
                                                    </form>
                                                </td>
                                                <td>
                                                    <input type="submit" id="button-spacing dialog" class="btn btn-success" ng-click="vm.alertUpdate()" />
                                                    <!--<input type="submit" id="button-spacing dialog" class="btn btn-success" ng-click="vm.update(user, $index)"-->
                                                           <!--placeholder="Update" />-->
                                                </td>
                                              <!--  <td>-->
                                                <!--<ul >
                                                    <li ng-repeat="role in vm.listCurrentRoles">
                                                        <span ng-model="role">{{role}}</span>
                                                    </li>
                                                </ul>-->
                                               <!-- </td>-->
                                            </tr>
                                        </tbody>
                                    </table>
                               <!-- <div id="buttonformatting" class="btn btn-danger">Submit</div>-->
                                <div clss="row">
                                    <a style="margin:10px;background-color: #981b1f" href="#menu-toggle" class="btn btn-danger" id="menu-toggle">SideBar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
