<div id="wrapper">
    <!-- Sidebar -->
    <div class="sidebar-nav" id="sidebar-wrapper">
        <h1 style="padding-left:15px;color: #999999;">Pearland City Chamber of Commerce</h1>
        <h2 style="padding-left:15px;color: #999999;">ID # 48972</h2>
        <ul class="sidebar-nav" style="padding-top:125%">
            <li>
                <a href="#/createmotion">Create Motion</a>
            </li>
            <li>
                <a href="#/motionsview">Motions</a>
            </li>
            <li>
                <a href="#/motionhistory">Motion History</a>
            </li>
            <li>
                <a href="#/userhistory">Past/Current Users</a>
            </li>
            <li>
                <a href="#/adminpage">Manage Users</a>
            </li>
            <!--<li>
                <a href="#">Inbox</a>
            </li>
            <li>
                <a href="#">Settings</a>
            </li>-->
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="commentpageheader">Current Motion</h1>
                    <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                    <p>Make sure to keep all page content within the.</p>
                    <div >
                        <div id="addComment" ng-submit="vm.add()">
                            <div ng-repeat="comment in vm.comments" ng-click="vm.comment">{{comment.content}}</div>
                        </div>
                        <!--<div ng-show="!comment.edit" ng-click="comment.edit = true"></div>-->
                        <textarea type="input" class="col-lg-9" name="comment" ng-model="vm.comment"></textarea><br /><br /><br />

                        <input type="text" placeholder="Add to the conversation" class="btn btn-info form-control input-large" />

                        
                    </div>
                    <span class="input-group-addon" ng-click="vm.add()">Post</span>
                    
                    <br /><br />


                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Hide</a>

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<!-- jQuery -->
<!--<script src="js/jquery.js"></script>-->
<!-- Bootstrap Core JavaScript -->
<!--<script src="js/bootstrap.min.js"></script>-->
<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>