<div class="col-md-12; container-fluid" id="loginbackground"style="padding-bottom:20%">
    <div class="row; container-fluid" id="NavBarRow">
        <span class="col-lg-2">
            <a href="/#/frontpage">REMOTE.VOTE</a>
        </span>
        <span class="col-lg-2" align="left">
            <a href="/#/getstarted">GET STARTED</a>
        </span>
        <span class="col-lg-4">
        </span>
        <span class="col-lg-2">
            <a href="/#/login">LOG IN</a>
        </span>
        <span class="col-lg-2" align="left">
            <a href="/#/register">REGISTER</a>
        </span>
    </div>  
    <div class="row" id="loginformatting">
        <div class="col-md-5" style="background-color: #981b1f">
            <div class="login" style="padding: 30px">
                <form name="LoginForm" novalidate ng-submit="vm.login()">
                    <h1 style="margin-left:10px">Log In</h1>
                    <input style="margin-top:10px;margin-bottom:10px; color:black" type="text" name="user" placeholder="Username" ng-model="vm.User.username" /><br />
                    <input style="margin-top:10px;margin-bottom:10px; color:black" type="password" name="password" placeholder="Password" ng-model="vm.User.password" /><br />
                    <a href="#/adminpage"><input style="margin-top:10px;margin-bottom:10px; color:black" type="submit" name="login" class="login login-submit" value="login" /></a>
                    <!--<input style="margin-top:10px;margin-bottom:10px; color:black" type="submit" name="login" class="login login-submit" value="login" />-->
                </form>
            </div>
            <!--<div>
                <input type="button" class="btn btn-default" ng-click="vm.logout()" value="FUCKING LOGOUT" />
            </div>-->
        </div>
    </div>
</div>
<div class="row" id="FooterBar" style="padding-bottom:60px;">
    <span class="col-lg-2">
        <a href="/#/FrontPage">CONTACT US</a>
    </span>
    <span class="col-lg-2">
    </span>
    <span class="col-lg-2">
        <a href="/#/getstarted">GET STARTED</a>
    </span>
    <span class="col-lg-2">
        <a href="/#/meettheteam">MEET THE TEAM</a>
    </span>
    <span class="col-lg-2">
        <a href="https://www.codercamps.com/">CODERCAMP</a>
    </span>
    <span class="col-lg-2">
        <a href="/#/sitemap">SITE MAP</a>
    </span>
</div>
    
