<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4" style="border-right:medium black solid; min-height:1000px">
                    <div class="row">
                        <form id="addMotion" ng-submit="vm.add()" class="col-md-5">
                            <div class="row">                                
                                <div class="col-md-4">
                                    <input class="form-control" ng-model="vm.newMotion.title" placeholder="Motion Title" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <input class="form-control" ng-model="vm.newMotion.description" placeholder="description" />
                                </div>
                            </div>
                            <br />
                            <input type="submit" value="Add Motion" class="btn btn-default" />
                        </form>
                    </div>
<div>
    <input type="button" value="Yes" class="btn btn-default" ng-click="vm.addVote(true)" />
    <input type="button" value="No" class="btn btn-default" ng-click="vm.addVote(false)" />
    <input type="button" value="Allow Second" class="btn btn-default" ng-click="vm.allowSecond()" />
    <input type="button" value="Second" class="btn btn-default" ng-click="vm.secondMotion()" />
    <input type="button" value="Edit" class="btn btn-default" ng-click="vm.edit()" />
</div>
                </div>
                <div class="col-md-8">
                    <h1 align="center">Current Motions</h1>
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    Motions
                                </th>
                                <th>
                                    Vote
                                </th>
                                <th>
                                    Proposed On
                                </th>
                                        
                                <th>
                                    Allow Second
                                </th>    
                                <th>
                                    Second Motion
                                </th>    
                                <th>
                                    Vote Tally
                                </th>                        
                            </tr>                            
                        </thead>
                        <tbody ng-repeat="motion in vm.motions as motion track by (motion.id + motion.title + motions.length + motion.dateCreated + motion.allowSecond)">
                            <tr ng-click="vm.func(motion)">
                                <td>
                                    {{vm.currentMotion}}
                                </td>
                                <td>
                                    {{motion.title}}
                                </td>
                                <td>
                                    {{motion.description}}
                                </td>
                                <td>
                                    {{motion.dateCreated}}
                                </td>
                                <td>
                                    <span class="glyph glyphicon-check"></span>
                                    {{motion.allowSecond}}
                                </td>
                                <td>
                                    {{motion.seconded}}
                                </td>
                                <td>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


