<div class="col-md-12; container-fluid" id="loginbackground"style="padding-bottom:20%">
    <div class="row; container-fluid" id="NavBarRow">
        <span class="col-lg-2">
            <a href="/#/frontpage">VOTING APP</a>
        </span>
        <span class="col-lg-2" align="left">
            <a href="/#/getstarted">GET STARTED</a>
        </span>
        <span class="col-lg-4">
        </span>
        <span class="col-lg-2">
            <a href="/#/login">LOG IN</a>
        </span>
        <span class="col-lg-2" align="left">
            <a href="/#/register">REGISTER</a>
        </span>
    </div>  
    <div class="row" id="loginformatting">
        <div class="col-md-5" style="background-color: #981b1f">
            <div class="registration" style="padding: 30px">
                <h1>Registration</h1>
                <form id="addUser" name="RegistrationForm" novalidate ng-submit="vm.register()">
                    <input style="margin-top:10px;margin-bottom:10px; color:black" type="email" name="Email" placeholder="Email" ng-model="vm.newUser.email" /><br />
                    <input style="margin-top:10px;margin-bottom:10px; color:black" type="password" name="Password" placeholder="Password" ng-model="vm.newUser.password" /><br />
                    <input style="margin-top:10px;margin-bottom:10px; color:black" type="password" name="ConfirmPassword" placeholder="Confirm Password" ng-model="vm.newUser.confirmPassword" /><br />
                    <input style="margin-top:10px;margin-bottom:10px; color:black" placeholder="Group ID#"/><br />
                    <input style="margin-top:10px;margin-bottom:10px; color:black" type="submit" name="registration" class="registration registration-submit" value="Register" />
                </form>
            </div>
        </div>
    </div>       
</div>
<div class="row" id="FooterBar" style="padding-bottom:60px;">
    <span class="col-lg-2">
        <a href="/#/FrontPage">CONTACT US</a>
    </span>
    <span class="col-lg-2">
    </span>
    <span class="col-lg-2">
        <a href="/#/getstarted">GET STARTED</a>
    </span>
    <span class="col-lg-2">
        <a href="/#/login">MEET THE TEAM</a>
    </span>
    <span class="col-lg-2">
        <a href="https://www.codercamps.com/">CODERCAMP</a>
    </span>
    <span class="col-lg-2">
        <a href="/#/sitemap">SITE MAP</a>
    </span>
</div>



