

<div class="col-md-12; container-fluid" id="loginbackground">
    <div class="row" id="loginformatting">
        <div class="col-md-5" style="background-color: #981b1f">
            <div class="registration" style="padding: 30px">
                <h1>Registration</h1>
                <form id="addUser" name="RegistrationForm" novalidate ng-submit="vm.register()">
                    <input style="margin:10px; color:black" type="email" name="Email" placeholder="Email" ng-model="vm.newUser.email" /><br />
                    <input style="margin:10px; color:black" type="password" name="Password" placeholder="Password" ng-model="vm.newUser.password" /><br />
                    <input style="margin:10px; color:black" type="password" name="ConfirmPassword" placeholder="Verify Password" ng-model="vm.newUser.confirmPassword" /><br />
                    <input style="margin:10px; color:black" type="submit" name="registration" class="registration registration-submit" value="registration" />
                </form>
            </div>
        </div>
    </div>
    <div class="row" id="FooterBar" style="top:512.5px; padding-bottom:125.5px">
        <span class="col-lg-2">
            <a href="/#/FrontPage">CONTACT US</a>
        </span>
        <span class="col-lg-2">
        </span>
        <span class="col-lg-2">
            <a href="/#/getstarted">GET STARTED</a>
        </span>
        <span class="col-lg-2">
            <a href="/#/login">MEET THE TEAM</a>
        </span>
        <span class="col-lg-2">
            <a href="https://www.codercamps.com/">CODERCAMP</a>
        </span>
        <span class="col-lg-2">
            <a href="/#/sitemap">SITE MAP</a>
        </span>
    </div>

</div>

