<div class="row">
    <form id="addAdminUser" ng-submit="vm.addAdmin()" class="col-md-5">
        <div class="row">
            <div class="col-md-4">
                <input class="form-control" ng-model="vm.newAdminUser.firstName" placeholder="First Name" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input class="form-control" ng-model="vm.newAdminUser.lastName" placeholder="Last Name" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input class="form-control" ng-model="vm.newAdminUser.Id" placeholder="Email" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input class="form-control" ng-model="vm.newAdminUser.phoneNumber" placeholder="Phone Number" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input class="form-control" ng-model="vm.newAdminUser.password" placeholder="Password" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input class="form-control" ng-model="vm.newAdminUser.confirmPassword" placeholder="Password" />
            </div>
        </div>
        <br />
        <input type="submit" value="Add AdminUser" class="btn btn-default" />
    </form>
</div>

<div class="row">
    <div class="col-md-5">
        <div class="row" ng-repeat="adminUser in vm.adminUsers">
            <div ng-show="!adminUser.edit" ng-click="adminUser.edit = true">
                <div class="col-md-4">{{adminuser.firstName}}</div>
                <div class="col-md-4">{{adminuser.lastName}}</div>
                <div class="col-md-4">{{adminuser.email}}</div>
                <div class="col-md-4">{{adminuser.phoneNumber}}</div>
            </div>
            <div ng-show="adminUser.edit">
                <div class="col-md-4">
                    <input class="form-control" ng-model="adminUser.firstName" />
                </div>
                <div class="col-md-4">
                    <input class="form-control" ng-model="adminUser.lastName" />
                </div>
                <div class="col-md-4">
                    <input class="form-control" ng-model="adminUser.email" />
                </div>
                <div class="col-md-4">
                    <input class="form-control" ng-model="adminUser.phoneNumber" />
                </div>
            </div>
            <div class="col-md-2 btn btn-default" ng-click="vm.update(adminUser)">Update</div>
            <div class="col-md-2 btn btn-default" ng-click="vm.delete(adminUser)">Delete</div>
        </div>
    </div>
</div>

<div>
    <input type="button" class="btn btn-default" ng-click="vm.logout()" />
</div>