
<div class="nav">
    <div class="container">
        <ul class="pull-left">
            <li><a href="#">LogIn</a></li>
            <li><a href="#">Register</a></li>
        </ul>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <h1>Voting App.</h1>
        <p> Voting made simple at your fingertips!</p>

    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="about-us">
                <h2>What is the Voting App</h2>
                <p>It's voting meets 21st century technology!</p>
            </div>
        </div>
        <!--<div class="about-us">
            <h2>What is the Voting App</h2>
            <p>It's voting meets 21st century technology!</p>
        </div>-->
        <div class="col-md-4">
        
        <div class="features">
             <h3>Features</h3>
        <ul>
            <li>Feature One</li>
        <li>Feature Two</li>
            <li>Feature Three</li>
        </ul>
        <div class="col-md-4">
        
            <div class="meet">
                <h4>Meet The Team</h4>
            </div>
    </div>
</div>
</div>
        </div>
    </div>
    <!--<div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2>What is the Voting App</h2>
                    <p>It's voting meets 21st century technology!</p>

                </div>
            </div>
        </div>
    </div>

    <div class="features">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h3>How Does It Work</h3>
                    <p></p>
                    <p><a href="#"></a></p>
                </div>
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <h3>Meet The Team</h3>

                                <p></p>
                                <p><a href="#"></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <!--</div>
    </div>-->
    <!--<div id="login">
        <div class="container">
            <button id="login2" class=" btn-primary" type="submit" ng-click="vm.login()">LogIn</button>
            <button id="register" class="btn-primary" data-toggle="modal" data-target="#myModal" type="submit" ng-click="vm.register()"><em>Register</em></button>


            <div class="container">
            <h1 class="text-primary lead "><em>Voting Application</em>.</h1>-->
    <!--<blockquote class="blockquote-reverse">
        <p class="lead"><em>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally</em>.</p>
        <footer>From WWF's website</footer>
    </blockquote>-->
    <!--</div>
        </div>
    </div>-->
    <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
    <<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

                </div>
                <div class="modal-content">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Register Here</h4>
                </div>
                <div class="modal-body">
                    <p>First Name</p>
                    <p>Last Name</p>
                    <p>Please Enter Your Email</p>
                    <p>Please Re-Enter Your Email</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>-->
    <!--</div>
    </div>-->
    <!--<div class="text-left glyphicon-text-color"></div>-->
    <!--<h1 class="text-primary lead "><em>Voting Application</em>.</h1>


    <blockquote class="blockquote-reverse">
        <p class="lead"><em>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally</em>.</p>
        <footer>From WWF's website</footer>
    </blockquote>-->
