
body {
  padding-bottom: 40px;
  color: #AD9850;
  font-family: 'Century Gothic';

}

#HomePageHeaderImage
{
    z-index: -1;
    opacity: .75;
    background-image: url('../Images/HomePageHeader.png');
    background-size: cover;
    position: fixed;
    top: 0;
}









/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: center;
  top: 0;
  left: 0;
  right: 0;
  /*z-index: 10;*/
}

#HeaderImage 
{
    width: 105%;
    height: 400px;
    background-image: url('../Images/business-on-the-beach.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#HomePage
{
    overflow-x: hidden;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
  padding-bottom: 2em;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}

#img1{
    height: 200px;
    width: 200px;
}


























/*body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #E8DCC3;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-repeat: no-repeat;
    background-image: url('../Images/business-on-the-beach.jpg');
    background-size: cover;
    height: 700px;
    width: 100%;
    background-attachment: scroll;
    background-color: gray;
    border-style: solid;
    border-color: red;
}


.nav a {
    color: red;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  font-style: italic;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
}


.nav li {
    display: inline;*/

}

/*.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: red;
  font-size: 48px;  
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-weight: normal;
  font-style: italic;
}

.jumbotron p {
  font-size: 15px;
  color: red;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-weight: normal;
  font-style: italic;
}*/

/*.about-us {
  background-color: #f7f7f7;
}*/

/*.about-us h3 {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 600;
  color: red;
  font-style: italic;
  background-color: #f7f7f7;
  
}

.about-us p {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 200;
  color: black;
  font-style: italic;
  background-color: #f7f7f7;
  
}*/


/*.features {
    background-color:  #efefef;
   
    
}*/

/*.features h3 {
    color: red;
    font-size: 15px;
}

.features ul {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
 
  font-weight: 200;
  color: black;
  font-style: italic;
    font-size: 18px;
    
    
}*/

/*.address h4 {
    background-color: #f7f7f7;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 600;
  color: red;
  font-style: italic;

#dropdown{
    width: auto;
}

#button-spacing{
    margin: 15px;
    width: auto;
}

table {
  counter-reset: rowNumber;
  text-align: center;
  border-style: solid;
  border-color: red;
}

th {
    text-align: center;
}
tbody tr {
  counter-increment: rowNumber;
}
table tr td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
}
#login {
    
    background-image: url('../Images/Lincoln-monument.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    width: 100%;
    /*opacity: 0.5;*/
    background-attachment: scroll;
    
}

#login2 {
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*background: rgb(66,184, 221);*/
    color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            font-style:italic;
    
}
    
#register {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*background: rgb(66,184, 221);*/
    color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            font-style:italic;
}  


.transbox
{
  margin: 30px;
  background-color: white;
  border: 1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;

}

.transbox p {
     margin: 30px;
  background-color: white;
  border: 1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

/*
A Bootstrap 3.1 affix sidebar template
from http://bootply.com

This CSS code should follow the 'bootstrap.css'
in your HTML file.

license: MIT
author: bootply.com
*/

body {
 padding-top:50px;
}

#masthead { 
 min-height:250px;
}

#masthead h1 {
 font-size: 30px;
 line-height: 1;
 padding-top:20px;
}

#masthead .well {
 margin-top:8%;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 50px;
  }
}

.navbar-bright {
 background-color:#111155;
 color:#fff;
}

.affix-top,.affix{
 position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  	width:228px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

#sidebar li.active {
  border:0 #eee solid;
  border-right-width:5px;
}
    
    font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 10px;
  font-weight: 200;
  font-style: italic;
  
}*/*/



