body {
    padding: 75px;
    vertical-align:text-top;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    
    background-image: url('../Images/Lincoln-monument.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    width: 100%;
    opacity: 0.5;
    background-attachment: scroll;
    background-color: gray;
    border-style: solid;
    border-color: red;
    
}


.nav a {
    color: red;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  font-style: italic;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
}


.nav li {
    display: inline;

}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: red;
  font-size: 48px;  
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-weight: normal;
  font-style: italic;
}

.jumbotron p {
  font-size: 15px;
  color: red;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-weight: normal;
  font-style: italic;
}

/*.about-us {
  background-color: #f7f7f7;
}*/

.about-us h3 {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 600;
  color: red;
  font-style: italic;
  background-color: #f7f7f7;
  
}

.about-us a {
  color: #00b0ff;
}


/*.features {
    background-color:  #efefef;
   
    
}*/

.features h3 {
    color: red;
    font-size: 15px;
}

.features ul {
    font-size: 15px;
    
    color: red;
}

#dropdown{
    width: auto;
}

#button-spacing{
    margin: 15px;
    width: auto;
}

table {
  counter-reset: rowNumber;
  text-align: center;
  border-style: solid;
  border-color: red;
}

th {
    text-align: center;
}
tbody tr {
  counter-increment: rowNumber;
}
table tr td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
}
#login {
    
    background-image: url('../Images/Lincoln-monument.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    width: 100%;
    /*opacity: 0.5;*/
    background-attachment: scroll;
    
}

#login2 {
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*background: rgb(66,184, 221);*/
    color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            font-style:italic;
    
}
    
#register {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*background: rgb(66,184, 221);*/
    color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            font-style:italic;
}  


.transbox
{
  margin: 30px;
  background-color: white;
  border: 1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;

}

.transbox p {
     margin: 30px;
  background-color: white;
  border: 1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

/*
A Bootstrap 3.1 affix sidebar template
from http://bootply.com

This CSS code should follow the 'bootstrap.css'
in your HTML file.

license: MIT
author: bootply.com
*/

body {
 padding-top:50px;
}

#masthead { 
 min-height:250px;
}

#masthead h1 {
 font-size: 30px;
 line-height: 1;
 padding-top:20px;
}

#masthead .well {
 margin-top:8%;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 50px;
  }
}

.navbar-bright {
 background-color:#111155;
 color:#fff;
}

.affix-top,.affix{
 position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  	width:228px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

#sidebar li.active {
  border:0 #eee solid;
  border-right-width:5px;
}




