body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    
    background-image: url('../Images/Lincoln-monument.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    width: 100%;
    opacity: 0.5;
    background-attachment: scroll;
    background-color: gray;
    border-style: solid;
    border-color: red;
    
}


.nav a {
    color: red;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  font-style: italic;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
}


.nav li {
    display: inline;

}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: red;
  font-size: 48px;  
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-weight: normal;
  font-style: italic;
}

.jumbotron p {
  font-size: 15px;
  color: red;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-weight: normal;
  font-style: italic;
}

/*.about-us {
  background-color: #f7f7f7;
}*/

.about-us h3 {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 600;
  color: red;
  font-style: italic;
  background-color: #f7f7f7;
  
}

.about-us a {
  color: #00b0ff;
}


/*.features {
    background-color:  #efefef;
   
    
}*/

.features h3 {
    color: red;
    font-size: 15px;
}

.features ul {
    font-size: 15px;
    
    color: red;
}






